# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment folders
venv/
.env
env/

# Ignore logs
logs/
*.log
*.txt

# Ignore dataset files
*.csv
*.duckdb
*.pt

# Ignore specific files
secrets.json
config.yaml
*.jpeg

# Ignore a specific folder
Imagez/
segments-imaged/
image_embeddings_lance/
segments/
image_embeddings/
models/
FastSAM/
results/
thumbnails/
thumbnails-imaged/
thumbnails-segments/
thumbnails-segments-imaged/
thumbnails-segments-imaged-2/
thumbnails-segments-imaged-3/
thumbnails-segments-imaged-4/
thumbnails-segments-imaged-5/
thumbnails-segments-imaged-6/
thumbnails-segments-imaged-7/
thumbnails-segments-imaged-8/
thumbnails-segments-imaged-9/
thumbnails-segments-imaged-10/
thumbnails-segments-imaged-11/
thumbnails-segments-imaged-12/
thumbnails-segments-imaged-13/
thumbnails-segments-imaged-14/
thumbnails-segments-imaged-15/
thumbnails-segments-imaged-16/
thumbnails-segments-imaged-17/
thumbnails-segments-imaged-18/
thumbnails-segments-imaged-19/
thumbnails-segments-imaged-20/
thumbnails-segments-imaged-21/
thumbnails-segments-imaged-22/
thumbnails-segments-imaged-23/
thumbnails-segments-imaged-24/
thumbnails-segments-imaged-25/
thumbnails-segments-imaged-26/
thumbnails-segments-imaged-27/
thumbnails-segments-imaged-28/
thumbnails-segments-imaged-29/
thumbnails-segments-imaged-30/
thumbnails-segments-imaged-31/
thumbnails-segments-imaged-32/
thumbnails-segments-imaged-33/
thumbnails-segments-imaged-34/
thumbnails-segments-imaged-35/
thumbnails-segments-imaged-36/
thumbnails-segments-imaged-37/
thumbnails-segments-imaged-38/
thumbnails-segments-imaged-39/
thumbnails-segments-imaged-40/
thumbnails-segments-imaged-41/
thumbnails-segments-imaged-42/
thumbnails-segments-imaged-43/
thumbnails-segments-imaged-44/
thumbnails-segments-imaged-45/
thumbnails-segments-imaged-46/
thumbnails-segments-imaged-47/
thumbnails-segments-imaged-48/
thumbnails-segments-imaged-49/
thumbnails-segments-imaged-50/
thumbnails-segments-imaged-51/
thumbnails-segments-imaged-52/
thumbnails-segments-imaged-53/
thumbnails-segments-imaged-54/
thumbnails-segments-imaged-55/
thumbnails-segments-imaged-56/
thumbnails-segments-imaged-57/
thumbnails-segments-imaged-58/
thumbnails-segments-imaged-59/
thumbnails-segments-imaged-60/
thumbnails-segments-imaged-61/
thumbnails-segments-imaged-62/
thumbnails-segments-imaged-63/
thumbnails-segments-imaged-64/
thumbnails-segments-imaged-65/
thumbnails-segments-imaged-66/
thumbnails-segments-imaged-67/
thumbnails-segments-imaged-68/
thumbnails-segments-imaged-69/
thumbnails-segments-imaged-70/
thumbnails-segments-imaged-71/
thumbnails-segments-imaged-72/
thumbnails-segments-imaged-73/
thumbnails-segments-imaged-74/
thumbnails-segments-imaged-75/
thumbnails-segments-imaged-76/
thumbnails-segments-imaged-77/
thumbnails-segments-imaged-78/
thumbnails-segments-imaged-79/
thumbnails-segments-imaged-80/
thumbnails-segments-imaged-81/
thumbnails-segments-imaged-82/
thumbnails-segments-imaged-83/
thumbnails-segments-imaged-84/
thumbnails-segments-imaged-85/
thumbnails-segments-imaged-86/
thumbnails-segments-imaged-87/
thumbnails-segments-imaged-88/
thumbnails-segments-imaged-89/
thumbnails-segments-imaged-90/
thumbnails-segments-imaged-91/
thumbnails-segments-imaged-92/
thumbnails-segments-imaged-93/
thumbnails-segments-imaged-94/
thumbnails-segments-imaged-95/
thumbnails-segments-imaged-96/
thumbnails-segments-imaged-97/
thumbnails-segments-imaged-98/
thumbnails-segments-imaged-99/
thumbnails-segments-imaged-100/
thumbnails-segments-imaged-101/
thumbnails-segments-imaged-102/
thumbnails-segments-imaged-103/
thumbnails-segments-imaged-104/
thumbnails-segments-imaged-105/
thumbnails-segments-imaged-106/
thumbnails-segments-imaged-107/
thumbnails-segments-imaged-108/
thumbnails-segments-imaged-109/
thumbnails-segments-imaged-110/
thumbnails-segments-imaged-111/
thumbnails-segments-imaged-112/
thumbnails-segments-imaged-113/
thumbnails-segments-imaged-114/
thumbnails-segments-imaged-115/
thumbnails-segments-imaged-116/
thumbnails-segments-imaged-117/
thumbnails-segments-imaged-118/
thumbnails-segments-imaged-119/
thumbnails-segments-imaged-120/
thumbnails-segments-imaged-121/
thumbnails-segments-imaged-122/
thumbnails-segments-imaged-123/
thumbnails-segments-imaged-124/
thumbnails-segments-imaged-125/
thumbnails-segments-imaged-126/
thumbnails-segments-imaged-127/
thumbnails-segments-imaged-128/
thumbnails-segments-imaged-129/
thumbnails-segments-imaged-130/
thumbnails-segments-imaged-131/
thumbnails-segments-imaged-132/
thumbnails-segments-imaged-133/
thumbnails-segments-imaged-134/
thumbnails-segments-imaged-135/
thumbnails-segments-imaged-136/
thumbnails-segments-imaged-137/
thumbnails-segments-imaged-138/
thumbnails-segments-imaged-139/
thumbnails-segments-imaged-140/
thumbnails-segments-imaged-141/
thumbnails-segments-imaged-142/
thumbnails-segments-imaged-143/
thumbnails-segments-imaged-144/
thumbnails-segments-imaged-145/
thumbnails-segments-imaged-146/
thumbnails-segments-imaged-147/
thumbnails-segments-imaged-148/
thumbnails-segments-imaged-149/
thumbnails-segments-imaged-150/
thumbnails-segments-imaged-151/
thumbnails-segments-imaged-152/
thumbnails-segments-imaged-153/
thumbnails-segments-imaged-154/
thumbnails-segments-imaged-155/
thumbnails-segments-imaged-156/
thumbnails-segments-imaged-157/
thumbnails-segments-imaged-158/
thumbnails-segments-imaged-159/
thumbnails-segments-imaged-160/
thumbnails-segments-imaged-161/
thumbnails-segments-imaged-162/
thumbnails-segments-imaged-163/
thumbnails-segments-imaged-164/
thumbnails-segments-imaged-165/
thumbnails-segments-imaged-166/
thumbnails-segments-imaged-167/
thumbnails-segments-imaged-168/
thumbnails-segments-imaged-169/
thumbnails-segments-imaged-170/
thumbnails-segments-imaged-171/
thumbnails-segments-imaged-172/
thumbnails-segments-imaged-173/
thumbnails-segments-imaged-174/
thumbnails-segments-imaged-175/
thumbnails-segments-imaged-176/
thumbnails-segments-imaged-177/
thumbnails-segments-imaged-178/
thumbnails-segments-imaged-179/
thumbnails-segments-imaged-180/
thumbnails-segments-imaged-181/
thumbnails-segments-imaged-182/
thumbnails-segments-imaged-183/
thumbnails-segments-imaged-184/
thumbnails-segments-imaged-185/
thumbnails-segments-imaged-186/
thumbnails-segments-imaged-187/
thumbnails-segments-imaged-188/
thumbnails-segments-imaged-189/
thumbnails-segments-imaged-190/
thumbnails-segments-imaged-191/
thumbnails-segments-imaged-192/
thumbnails-segments-imaged-193/
thumbnails-segments-imaged-194/
thumbnails-segments-imaged-195/
thumbnails-segments-imaged-196/
thumbnails-segments-imaged-197/
thumbnails-segments-imaged-198/
thumbnails-segments-imaged-199/
thumbnails-segments-imaged-200/
thumbnails-segments-imaged-201/
thumbnails-segments-imaged-202/
thumbnails-segments-imaged-203/
thumbnails-segments-imaged-204/
thumbnails-segments-imaged-205/
thumbnails-segments-imaged-206/
thumbnails-segments-imaged-207/
thumbnails-segments-imaged-208/
thumbnails-segments-imaged-209/
thumbnails-segments-imaged-210/
thumbnails-segments-imaged-211/
thumbnails-segments-imaged-212/
thumbnails-segments-imaged-213/
thumbnails-segments-imaged-214/
thumbnails-segments-imaged-215/
thumbnails-segments-imaged-216/
thumbnails-segments-imaged-217/
thumbnails-segments-imaged-218/
thumbnails-segments-imaged-219/
thumbnails-segments-imaged-220/
thumbnails-segments-imaged-221/
thumbnails-segments-imaged-222/
thumbnails-segments-imaged-223/
thumbnails-segments-imaged-224/
thumbnails-segments-imaged-225/
thumbnails-segments-imaged-226/
thumbnails-segments-imaged-227/
thumbnails-segments-imaged-228/
thumbnails-segments-imaged-229/
thumbnails-segments-imaged-230/
thumbnails-segments-imaged-231/
thumbnails-segments-imaged-232/
thumbnails-segments-imaged-233/
thumbnails-segments-imaged-234/
thumbnails-segments-imaged-235/
thumbnails-segments-imaged-236/
thumbnails-segments-imaged-237/
thumbnails-segments-imaged-238/
thumbnails-segments-imaged-239/
thumbnails-segments-imaged-240/
thumbnails-segments-imaged-241/
thumbnails-segments-imaged-242/
thumbnails-segments-imaged